*{
    margin:0;
    padding: 0;
}

.header{
    height: 110%;
    width:100%;
    background-color: rgb(2, 211, 248);
    display: flex;
    justify-items: center;
    
}
.cont{    
    position: absolute;
    margin-top: 3%;
    
}

