<div class="container mt-5" style="max-width: 550px;">
  <form #addItemsForm = "ngForm" (submit)="addItems(addItemsForm)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input [(ngModel)]="email" name = "email" type="email" class="form-control" 
      id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
     
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input [(ngModel)]="password" name = "password" type="password" class="form-control" id="exampleInputPassword1" 
      placeholder="Password" required>
    </div>
    <div class="form-group form-check">
      <input [(ngModel)]="checkBoxValue" name = "checkBoxValue" type="checkbox" 
      class="form-check-input" id="exampleCheck1" required>
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button [disabled] = "!addItemsForm.valid" type="submit" class="btn btn-primary btn-block">Submit</button>    
         
</form>

<button (click) = "resetItemsValues(addItemsForm)" class="mt-2 btn btn-danger btn-block">Reset</button>
<button (click) = "setItemsValues(addItemsForm)" class="btn btn-success btn-block">Set-values</button>


</div>

